apiVersion: v1
kind: Pod
metadata:
  annotations:
    io.containers.autoupdate: registry
    io.containers.autoupdate/app: local
  labels:
    app: monitor-pod
  name: monitor-pod
spec:
  containers:
    - image: localhost/monitor
      name: app
      ports:
        - name: web
          containerPort: 80
          hostPort: {{ ports.monitor }}
        - name: api
          containerPort: 5665
          hostPort: 5665
      volumeMounts:
        - mountPath: /mnt/pv
          name: monitor-pvc
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW
    - args:
        - postgres
      env:
        - name: POSTGRES_PASSWORD
          value: a
      image: docker.io/library/postgres:15-alpine
      name: db
      resources: {}
      volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: monitor-db-pvc
    - args:
        - redis-server
      image: docker.io/library/redis:7-alpine
      name: redis
      resources: {}
      volumeMounts:
        - mountPath: /data
          name: monitor-redis-pvc
  enableServiceLinks: false
  volumes:
    - name: monitor-pvc
      persistentVolumeClaim:
        claimName: monitor
    - name: monitor-db-pvc
      persistentVolumeClaim:
        claimName: monitor-db
    - name: monitor-redis-pvc
      persistentVolumeClaim:
        claimName: monitor-redis
