[defaults]
# Use the default callback plugin with YAML output
stdout_callback = ansible.builtin.default
result_format = yaml
# Use the stdout_callback when running ad-hoc commands
bin_ansible_callbacks = true
display_skipped_hosts = no
interpreter_python = auto_silent
pipelining = true
vault_password_file = pw.txt
