# Mozilla Observatory A+
# https://observatory.mozilla.org/analyze/{{ role_name }}.dm-poepperl.de
{{ role_name }}.dm-poepperl.de {
  reverse_proxy localhost:{{ vault_port }}
  import stdheader
  encode zstd gzip
}
