apiVersion: v1
kind: Pod
metadata:
  annotations:
    io.containers.autoupdate: local
  labels:
    app: {{ role_name }}-pod
  name: {{ role_name }}-pod
spec:
  automountServiceAccountToken: false
  containers:
    - image: localhost/{{ role_name }}
      name: app
      ports:
        - name: smb
          containerPort: 445
          hostPort: 445
      volumeMounts:
        - mountPath: /srv/scans
          name: docs-scan-pvc
        - mountPath: /srv/media
          name: media-pvc
  enableServiceLinks: false
  hostname: server.lan
  volumes:
    - name: docs-scan-pvc
      persistentVolumeClaim:
        claimName: docs-scan
    - name: media-pvc
      persistentVolumeClaim:
        claimName: media
