[Unit]
After=cloud-upgrade.service

[Service]
User=cloud
Type=oneshot
ExecStart=/usr/bin/php -f cron.php
WorkingDirectory=/srv/de.dm-poepperl.cloud/html
