---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    io.containers.autoupdate: local
  labels:
    app: nodered-pod
  name: nodered-pod
spec:
  automountServiceAccountToken: false
  containers:
  - env:
    - name: TZ
      value: Europe/Berlin
    image: localhost/nodered:latest
    name: app
    ports:
    - containerPort: 1880
      hostPort: 1880
    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
      runAsGroup: 0
      runAsUser: 110
    volumeMounts:
    - mountPath: /data
      name: home-nodered-pvc
  enableServiceLinks: false
  restartPolicy: Always
  volumes:
  - name: home-nodered-pvc
    persistentVolumeClaim:
      claimName: home-nodered
