[Unit]
After = network-online.target
Requires = network-online.target

[Service]
WorkingDirectory = /var/mnt/ephemeral/services/images/%i
ExecStart = /usr/bin/fish build.fish
LoadCredential = secrets:/var/mnt/persist/secrets.fish
Restart = on-failure
RestartSec = 1h
Type = oneshot
Slice=prod-builders.slice
