[Unit]
Description=Image build
After = network-online.target
Requires = network-online.target

[Service]
WorkingDirectory = /opt/container/%i
ExecStart = /usr/bin/fish build.fish
Restart=on-failure
RestartSec=1h
Type = oneshot
