[Unit]
Requires = network.target

[Service]
ExecStart = /usr/bin/fish -c "function build; systemctl start image-build@avahi.service; and echo 'Bootstrapped image.'; end; podman image exists localhost/avahi; or build"
Type = oneshot
