---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    io.containers.autoupdate: registry
    io.containers.autoupdate/app: local
    io.containers.autoupdate/web: local
  labels:
    app: cloud-pod
  name: cloud-pod
spec:
  automountServiceAccountToken: false
  containers:
    - image: localhost/cloud-web:latest
      name: web
      ports:
        - name: web
          containerPort: 80
          hostPort: {{ ports.cloud }}
      livenessProbe:
        httpGet:
          path: /alive
          port: 80
        initialDelaySeconds: 5
        periodSeconds: 60
      securityContext:
        capabilities:
          drop:
            - CAP_MKNOD
            - CAP_NET_RAW
            - CAP_AUDIT_WRITE
      volumeMounts:
        - mountPath: /srv/de.dm-poepperl.cloud
          name: cloud-pvc
          readOnly: true
        - mountPath: /srv/de.dm-poepperl.cloud/data/appdata_och5khtk0i0u/preview
          name: cloud-preview-pvc
          readOnly: true
    - image: localhost/cloud:latest
      name: app
      livenessProbe:
        exec:
          command:
            - /usr/bin/bash
            - /usr/local/bin/alive.sh
        initialDelaySeconds: 5
        periodSeconds: 60
      securityContext:
        capabilities:
          drop:
            - CAP_MKNOD
            - CAP_NET_RAW
            - CAP_AUDIT_WRITE
      volumeMounts:
        - mountPath: /srv/de.dm-poepperl.cloud
          name: cloud-pvc
        - mountPath: /srv/de.dm-poepperl.cloud/data/appdata_och5khtk0i0u/preview
          name: cloud-preview-pvc
    - image: docker.io/library/postgres:15-alpine
      name: db
      args:
        - postgres
      env:
        - name: POSTGRES_PASSWORD
          value: a
      resources: {}
      livenessProbe:
        exec:
          command:
            - pg_isready
        initialDelaySeconds: 5
        periodSeconds: 60
      securityContext:
        capabilities:
          drop:
            - CAP_MKNOD
            - CAP_NET_RAW
            - CAP_AUDIT_WRITE
      volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: cloud-db-pvc
  enableServiceLinks: false
  restartPolicy: OnFailure
  volumes:
{% for vols in volumes.values() %}
{% for vol in vols %}
    - name: {{ vol }}-pvc
      persistentVolumeClaim:
        claimName: {{ vol }}
{% endfor %}
{% endfor %}
