[Unit]
Description=IPv6 ingress bridge on port %i -> 127.0.0.1:%i
Requires=ingress6@%i.socket
After=ingress6@%i.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:%i
DynamicUser=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
