{# CONFIG_DIR is inferred as DATA_DIR/CONFIG_DIR #}
{% set data = '/var/lib/jellyfin' %}
{% set cache = '/var/cache/jellyfin' %}
---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    io.containers.autoupdate: local
  labels:
    app: media-pod
  name: media-pod
spec:
  automountServiceAccountToken: false
  containers:
    - image: localhost/media:latest
      name: app
      livenessProbe:
        httpGet:
          path: /health
          port: 8096
        initialDelaySeconds: 5
        periodSeconds: 60
      env:
        - name: JELLYFIN_CACHE_DIR
          value: {{ cache }}
        - name: JELLYFIN_DATA_DIR
          value: {{ data }}
        - name: JELLYFIN_LOG_DIR
          value: /var/log/jellyfin
        - name: MALLOC_TRIM_THRESHOLD_
          value: 131072
      securityContext:
        capabilities:
          drop:
            - CAP_MKNOD
            - CAP_NET_RAW
            - CAP_AUDIT_WRITE
      volumeMounts:
        - mountPath: /srv/media
          name: media-pvc
          readOnly: true
        - mountPath: {{ cache }}
          name: media-cache-pvc
        - mountPath: {{ data }}
          name: media-jellyfin-pvc
  enableServiceLinks: false
  hostNetwork: true
  hostname: dm-poepperl
  restartPolicy: Always
  volumes:
    - name: media-pvc
      persistentVolumeClaim:
        claimName: media
        readOnly: true
    - name: media-cache-pvc
      persistentVolumeClaim:
        claimName: media-cache
    - name: media-jellyfin-pvc
      persistentVolumeClaim:
        claimName: media-jellyfin
