{% set data = '/usr/src/paperless/data' %}
---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    io.containers.autoupdate: registry
    io.containers.autoupdate/app: local
  labels:
    app: docs-pod
  name: docs-pod
spec:
  automountServiceAccountToken: false
  containers:
    - args:
        - /usr/local/bin/paperless_cmd.sh
      image: localhost/docs:latest
      name: app
      ports:
        - containerPort: {{ ports.docs }}
          hostPort: {{ ports.docs }}
      resources: {}
      livenessProbe:
        httpGet:
          port: 8000
        initialDelaySeconds: 20
        periodSeconds: 60
      env:
        - name: PAPERLESS_URL
          value: https://docs.dm-poepperl.de
        - name: PAPERLESS_TIME_ZONE
          value: Europe/Berlin
        - name: PAPERLESS_ADMIN_USER
          value: admin
        - name: PAPERLESS_DBUSER
          value: docs
        - name: PAPERLESS_DBNAME
          value: docs
        - name: PAPERLESS_DBHOST
          value: localhost
        - name: PAPERLESS_OCR_LANGUAGE
          value: deu+eng
        - name: PAPERLESS_OCR_CLEAN
          value: clean-final
        - name: PAPERLESS_DATA_DIR
          value: {{ data }}
        - name: PAPERLESS_MEDIA_ROOT
          value: {{ data }}/media
      volumeMounts:
        - mountPath: /usr/src/paperless/consume
          name: docs-scan-pvc
        - mountPath: {{ data }}/media/documents/thumbnails
          name: docs-thumbnails-pvc
        - mountPath: {{ data }}
          name: docs-pvc
    - args:
        - postgres
      env:
        - name: POSTGRES_PASSWORD
          value: a
      image: docker.io/library/postgres:15-alpine
      name: db
      resources: {}
      volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: docs-db-pvc
    - args:
        - redis-server
      image: docker.io/library/redis:{{ versions.redis }}-alpine
      name: redis
      resources: {}
      volumeMounts:
        - mountPath: /data
          name: docs-redis-pvc
  volumes:
{% for vols in volumes.values() %}
{% for vol in vols %}
    - name: {{ vol }}-pvc
      persistentVolumeClaim:
        claimName: {{ vol }}
{% endfor %}
{% endfor %}
